<%- include('layout/header'); %>
<%- include('layout/navbar'); %>
<div class="container-fluid p-4">
  <% if (alert.type && alert.message && alert.icon) { %>
    <div class="alert alert-<%= alert.type %> alert-dismissible fade show" role="alert">
      <i class="bi bi-<%= alert.icon %> me-2"></i>
      <%= alert.message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% } %>
  <div class="card col-lg-6">
    <form action="/nuevo" method="post" enctype="multipart/form-data">
      <div class="card-body">
        <label for="firstName" class="form-label">Nombres</label>
        <input type="text" name="firstName" id="firstName" class="form-control mb-2" required>
        <label for="lastName" class="form-label">Apellidos</label>
        <input type="text" name="lastName" id="lastName" class="form-control mb-2" required>
        <label for="birthDate" class="form-label">Fecha de Nacimiento</label>
        <input type="date" name="birthDate" id="birthDate" class="form-control mb-2" required>
        <label for="grade" class="form-label">Ciclo</label>
        <select name="grade" id="grade" class="form-select mb-2" required>
          <option value="1">1er Ciclo</option>
          <option value="2">2do Ciclo</option>
          <option value="3">3er Ciclo</option>
          <option value="4">4to Ciclo</option>
          <option value="5">5to Ciclo</option>
          <option value="6">6to Ciclo</option>
        </select>
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" name="email" id="email" class="form-control mb-2" required>
        <label for="picture" class="form-label">Foto</label>
        <input class="form-control" name="picture" id="picture" type="file" accept="image/*" required>
      </div>
      <div class="card-footer text-body-secondary">
        <a href="/" class="btn btn-danger">
          <i class="bi bi-x-lg me-2"></i>
          Cancelar
        </a>
        <button type="submit" class="btn btn-primary">
          <i class="bi bi-check-lg"></i>
          Crear
        </button>
      </div>
    </form>
  </div>
</div>
<%- include('layout/footer'); %>