<%- include('layout/header'); %>
<%- include('layout/navbar'); %>
<div class="container-fluid p-4">
  <div class="card col-lg-6">
    <form action="/<%= contact.id %>/edit" method="post" enctype="multipart/form-data">
      <div class="card-body">
        <label for="name" class="form-label">Nombres</label>
        <input type="text" name="name" id="name" class="form-control mb-2" value="<%= contact.name %>" required>
        <label for="lastName" class="form-label">Apellidos</label>
        <input type="text" name="lastName" id="lastName" class="form-control mb-2" value="<%= contact.lastName %>" required>
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" name="email" id="email" class="form-control mb-2" value="<%= contact.email %>" required>
        <label for="birthDate" class="form-label">Fecha de Nacimiento</label>
        <input type="date" name="birthDate" id="birthDate" class="form-control mb-2" required>
        <label for="picture" class="form-label">Foto</label>
        <input class="form-control" name="picture" id="picture" type="file" accept="image/*" required>
        <input type="hidden" name="oldPictureKey" value="<%= contact.pictureKey %>">
      </div>
      <div class="card-footer text-body-secondary">
        <a href="/" class="btn btn-danger">
          <i class="bi bi-x-lg me-2"></i>
          Cancelar
        </a>
        <button type="submit" class="btn btn-primary">
          <i class="bi bi-check-lg"></i>
          Crear
        </button>
      </div>
    </form>
  </div>
</div>
<%- include('layout/footer'); %>