<%- include('layout/header'); %>
<%- include('layout/navbar'); %>
<div class="container-fluid p-4">
  <% if (alert.type && alert.message && alert.icon) { %>
    <div class="alert alert-<%= alert.type %> alert-dismissible fade show" role="alert">
      <i class="bi bi-<%= alert.icon %> me-2"></i>
      <%= alert.message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% if (students.length <= 0 && alert.type != 'danger' ) { %>
      <a href="/nuevo" class="btn btn-success">
        <i class="bi bi-person-plus-fill me-2"></i>
        Nuevo Estudiante
      </a>
    <% } %>
  <% } else { %>
    <a href="/nuevo" class="btn btn-success mb-3">
      <i class="bi bi-person-plus-fill me-2"></i>
      Nuevo Estudiante
    </a>
    <div class="card">
      <div class="card-body">
        <form name="searchForm" id="searchForm" action="/" method="get">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
              <i class="bi bi-search"></i>
            </span>
              <input name="searchGrade" id="searchForm" type="number" min="1" max="6" form="searchForm" class="form-control" placeholder="Grado" aria-label="Buscar Grado">
            </div>
          </form>
      </div>
    </div>
    
    <div class="table-responsive p-2">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Correo Electrónico</th>
            <th scope="col">Ciclo</th>
            <th scope="col">Foto</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <% students.forEach(student => { %>
            <tr>
              <th scope="row"><%= student.id %></th>
              <td><%= student.firstName %></td>
              <td><%= student.lastName %></td>
              <td><%= student.birthDate %></td>
              <td><%= student.email %></td>
              <td><%= student.grade %></td>
              <td>
                <a href="<%= student.S3Url %>" class="text-decoration-none text-reset">
                  <i class="bi bi-image-fill"></i>
                </a>
              </td>
              <td>
                <a href="/<%= student.id %>" class="text-decoration-none text-reset">
                  <i class="bi bi-eye-fill"></i>
                </a>
                <a href="/<%= student.id %>/edit" class="text-decoration-none text-reset">
                  <i class="bi bi-pen-fill"></i>
                </a>
                <i class="bi bi-trash-fill" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal"></i>
              </td>
              <form id="deleteForm" action="/<%= student.id %>/delete" method="POST">
                <input type="hidden" name="S3Key" id="S3Key" value="<%= student.S3Key %>"></input>
              </form>
            </tr>
            <% }); %>
          </tbody>
        </table>
    </div>    
    <%- include('deleteModal'); %>
      <% } %>
    <%- include('layout/footer'); %>